<div class="jumbotron">
  <div class="container">
    <h2>Dear My Little Princess, </h2>

    <p>I know i am not perfect and make some mistake to let you down, but please don't give up me. I will become more and more better and do my best to be the man who you deserve.</p>
    <h2><small> - No matter the ending is perfect or not, you cannot disappear from my world. - </small></h2>
    <br>
    <p>Best Regards, Johnson</p>
    <%= time_tag(Time.now) %>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h2>Dear My Little Princess, </h2>

    <p>而我 不再覺得失去是捨不得  有時候只願意聽你唱完一首歌 在所有人事已非的景色裡 我最喜歡你</p>
    <h2><small> - No matter the ending is perfect or not, you cannot disappear from my world. - </small></h2>
    <br>
    <p>Best Regards, Johnson</p>
    <%= time_tag(Time.now) %>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h2>Dear My Little Princess, </h2>

    <p>對我來說，你永遠都是夜空中最耀眼的那顆星，那些鄉民如同宇宙裡的塵埃般，只是用來襯托你的美，放大他們的醜陋，你，何順鈺，永遠都是我的小公主！</p>
    <h2><small> - No matter the ending is perfect or not, you cannot disappear from my world. - </small></h2>
    <br>
    <p>Best Regards, Johnson</p>
    <%= time_tag(Time.now) %>
  </div>
</div>
