<div class="jumbotron">
  <div class="container">
    <h2>Dear My Little Princess, </h2>

    <p>I know i am not perfect and make some mistake to let you down, but please don't give up me. I will become more and more better and do my best to be the man who you deserve.</p>
    <h2><small> - No matter the ending is perfect or not, you cannot disappear from my world. - </small></h2>
    <br>
    <p>Best Regards, Johnson</p>
  </div>
</div>
