<div class="jumbotron">
  <div class="container">
    <div id="page_wrapper">
      <div id="profile_image">
        <%= image_tag "photo.jpg" %>
      </div>

      <div id="content">
        <h1>Hey, I'm Kitb </h1>
        <p>Welcome to PrincessAPP.</p>
        <p>This Web is a blog and record something meaningful sentence from my little princess.</p>

        <p>You can find the source code at <a href="https://github.com/k5953837">Github</a> or you can contact me with <a href="mailto:k5953837@gmail.com">Email</a>.
        </p>
      </div>
    </div>
  </div>
</div>
