<div class="jumbotron">
  <div class="container">
    <h1>Hi,</h1>
    <h1>Welcome to Candy Quotations.</h1>
    <!-- <img src="http://imgur.com/S8GIpiK.jpg", width="200" > -->

    <u><p>It's a letter for you.<span class="glyphicon glyphicon-heart"></span></p></u>
    <p><a class="btn btn-primary btn-lg" href="posts/" role="button">Read</a></p>
  </div>
</div>
