<div class="jumbotron">
  <div class="container">
    <h1>Hello, Candy!</h1>
    <img src="" alt="">
    <p>It's a letter for you.</p>
    <p><a class="btn btn-primary btn-lg" href="pages/about" role="button">Read</a></p>
  </div>
</div>
