<%= simple_form_for @post do |f| %>
  <div class="post_wrapper">
    <div class="jumbotron">
      <div class="container">
        <h1> Edit Post </h1>
        <div class="group">
          <%= f.input :title %>
        </div>

        <div class="group">
          <%= f.input :content %>
        </div>

        <%= f.button :submit, data: {disable_with: "Submit..."} %>
      </div>
    </div>
  </div>
<% end %>
