/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@import 'normalize';

#logo {
    width: 40px;
    right: 3em;
    top: 3em;
}

#page_wrapper {
  padding: 3em;
  #profile_image {
    width: 300px;
    float: left;
    margin-right: 2em;
    img {
      width: 100%;
      border-radius: 0.35em;
    }
  }
  #content {
    h1 {
      font-weight: 500;
    }
    p {
      font-size: 1.1em;
      line-height: 1.75;
    }
    a {
      color: #33acb7;
      font-weight: 700;
      text-decoration: none;
    }
  }
}

body {
    min-height: 2000px;
    padding-top: 70px;
}

.post_wrapper {
    padding: 3em;
    border-bottom: 1px solid #d6dce0;
    .title {
      margin: 0;
      a {
        font-weight: 500;
        text-decoration: none;
        font-size: 1.5em;
        &:hover {
          color: #33acb7;
        }
      }
    }
    .date_and_author {
      color: #9eafba;
      margin: .5em 0 0 0;
    }
  }
