<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">PrincessAPP</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/posts">POST<span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a href="/pages/about">ABOUT</a>
                </li>

                <% if !current_user %> <!-- if user not log in -->
                  <li> <%= link_to("Log In", new_user_session_path) %> </li>
                  <li> <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %> </li>
                <% else %>             <!-- if user log in  -->
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Hi!, <%= current_user.email %>
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" style=": #333">
                      <li> <%= link_to("Log Out", destroy_user_session_path, method: :delete) %> </li>
                    </ul>
                  </li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
